In [3]:
'''
    TEST ABOUT BEGINNER EXAMPLES OF MACHINE LEARNING
    
    this goal it's get the salary after received the input(that is)

'''

"\n    TEST ABOUT BEGINNER EXAMPLES OF MACHINE LEARNING\n    \n    this goal it's get the salary after received the input(that is)\n\n"

In [12]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [13]:
data = pd.read_csv('Salary.csv')

In [14]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891